.userProfile_wrap {
  border: 1px solid;
  padding: 50px;
}
.profie_header {
  display: flex;
  justify-content: space-between;
}

.profilepic_wrap {
  height: 300px;
  width: 250px;
  display: inline-block;
  border-radius: 51%;
  background-color: powderblue;
  position: relative;
}
.flex_protection {
  width: min-content;
}
.profilepic {
  border-radius: 51%;
  height: 300px;
}
.changepic_btn, .ppform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ppuploadform_wrap {
  position: relative;
}
.profile_fileinput {
  display: none;
}
.imgpreview {
  border-radius: 51%;
}
.maincanvas {
  display: none;
}

.userdesc_p {
  cursor: pointer;
}
.textareadesc {
  padding: 5px 10px;
  font: inherit;
}